{% extends 'components/base.html' %}
<!-- Page Content -->
{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Devotion Output</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li><span>Services</span></li>
          <li><span>Our Tools</span></li>
          <li><span>Devotion Generator</span></li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- Results -->
  <div class="container mt-4">
    <h2 class="text-center">Results</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div id="accordion">
          <!-- Item 1 -->
          {% if scripture %}
          <div class="card mb-3">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0 d-flex justify-content-between">
                <button
                  class="btn btn-link collapsed text-decoration-none"
                  style="color: #5846f9"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne"
                >
                  <i class="bi bi-book" style="font-size: large"></i> Scripture
                </button>
                <button
                  class="btn copy-button text-white"
                  style="background-color: #6610f2"
                  data-clipboard-target="#scripture"
                >
                  <i class="bi bi-clipboard"></i> Copy
                </button>
              </h5>
            </div>
            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="card-body">
                <pre style="font-family: 'Open Sans', sans-serif;">
                {{scripture}}
              </div>
            </div>
          </div>
          {% else %}
          <div class="mb-3">No Scripture Provided</div>
          {% endif %}

          <!-- Item 3 -->
          {% if text %}
          <div class="card mb-3">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0 d-flex justify-content-between">
                <button
                  class="btn btn-link collapsed text-decoration-none"
                  style="color: #5846f9"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  <i class="bi bi-journal-text" style="font-size: large"></i>
                  Devotion
                </button>
                <button
                  class="btn copy-button text-white"
                  style="background-color: #6610f2"
                  data-clipboard-target="#devotion"
                >
                  <i class="bi bi-clipboard"></i> Copy
                </button>
              </h5>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordion"
            >
              <div class="card-body" id="devotion">
                <pre style="font-family: 'Open Sans', sans-serif;">
                {{devotion}}
                </pre>
              </div>
            </div>
          </div>
          {% else %}
          <div class="mb-3">No Devotion was Generated</div>
          {% endif %}

          <!-- Item 2 -->
          {% if summary %}
          <div class="card mb-3">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0 d-flex justify-content-between">
                <button
                  class="btn btn-link collapsed text-decoration-none"
                  style="color: #5846f9"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  <i
                    class="bi bi-file-earmark-text"
                    style="font-size: large"
                  ></i>
                  Summary
                </button>
                <button
                  class="btn copy-button text-white"
                  style="background-color: #6610f2"
                  data-clipboard-target="#summary"
                >
                  <i class="bi bi-clipboard"></i> Copy
                </button>
              </h5>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordion"
            >
              <div class="card-body" id="summary">
                <pre style="font-family: 'Open Sans', sans-serif;">
                {{summary}}
                </pre>
              </div>
            </div>
          </div>
          {% elif summary == 'No summary found' %}
          <div class="mb-3">No audio was provided</div>
          {% else %}
          <div class="mb-3">No Summary was Generated</div>
          {% endif %}

          <!-- Item 4 -->
          {% if devotion %}
          <div class="card mb-3">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0 d-flex justify-content-between">
                <button
                  class="btn btn-link collapsed text-decoration-none"
                  style="color: #5846f9"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  <i class="bi bi-vector-pen" style="font-size: large"></i>
                  Transcription
                </button>
                <button
                  class="btn copy-button text-white"
                  style="background-color: #6610f2"
                  data-clipboard-target="#devotion"
                >
                  <i class="bi bi-clipboard"></i> Copy
                </button>
              </h5>
            </div>
            <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordion"
            >
              <div class="card-body" id="devotion">
                <pre style="font-family: 'Open Sans', sans-serif;">
                {{text}}
                </pre>
              </div>
            </div>
          </div>
          {% else %}
          <div class="mb-3">No Transcription was Generated</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
<!-- End #main -->

<!-- JavaScript -->
<script>
  const header = document.querySelector("#header");
  header.style.background = "rgba(24, 6, 185, 0.8)";
  const detailLoader = (content) => {
    document.querySelector(".detail").value = content;
  };

  document.querySelector("#submit-btn").addEventListener("click", () => {
    alert(
      "Processing, it may take 15%-30% of the file's duration, eg a 10 minute file takes 90-180 seconds to complete. After that, your transcription will automatically be downloaded."
    );
  });
</script>

{% endblock %}
